body
  {
    background-color: lightgray;
  }
#main
  {
    background-color: white;
    width: 600px;
    height: 1500px;
    position: absolute;
    top: 10px;
    left: 195px;
  }
#homemaindiv
  {
    width: 100%;
    height: 450px;
    background-image: url(Images/ChocolateHome_FPL2_S&C.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
#homeheader
  {
    width: 100%;
    height: 450px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.57;
  }
#homenav
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    height: 50px;
    position: absolute;
    left: 125px;
  }
#ul1
  {
    padding-top: 6px;
  }
#ul1 .homeli
  {
    display: inline-block;
    padding-left: 5px;
    background-color: #eac10b;
    width: 80px;
    height: 25px;
    text-align: center;
    border-radius: 0 13px;
    margin-left: 15px;
  }
#ul1 .homeli a
  {
    text-decoration: none;
    color: black;
    font-size: 15.6px;
    font-weight: bold;
  }
#h:hover 
  {
    box-shadow: 10px -10px white;
  }
#au:hover 
  {
    box-shadow: 10px -10px white;
  }
#p:hover 
  {
    box-shadow: 10px -10px white;
  }
#cus:hover 
  {
    box-shadow: 10px -10px white;
  }
#cu
  {
    background-color: #eac10b;
    width: 60px;
    height: 60px;
    border-radius: 100% 100% 0 100%;
    position: absolute;
    top: 385px;
    left: 537px;
    text-align: center;
  }
#h3
  {
    text-decoration: none;
    color: white;
  }
#Flogo
  {
    width: 150px;
    height: 40px;
    position: fixed;
    top: 20px;
    left: 200px;
    border-radius: 0 13px 0 13px;
  }
#homeh1
  {
    text-align: center;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 190px;
    left: 14px;
    color: white;
    font-weight: bolder;
    font-size: 40px;
  }
#homeslogan
  {
    position: absolute;
    top: 310px;
    left: 37px;
    color: #eac10b;
    font-weight: bold;
    font-size: 15px;
  }
#hshopbutton
  {
    position: absolute;
    top: 360px;
    left: 40px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom right, #ffcc00 0%, #ffffcc 100%);
  }
#hshopbutton a
  {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
#AHello, #GHello, #Hello
  {
    position: absolute;
    top: 117px;
    left: 40px;
    width: 150px;
    height: 50px;
    border: none;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 19px;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 2px #eac10b;
  }
#buttons
  {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 50px;
    border: none;
  }
#hello
  {
    position: absolute;
    top: 177px;
    left: 65px;
    width: 100px;
    height: 6px;
    background: linear-gradient(to bottom right, #ffcc00 0%, #ffffcc 100%);
    border: none;
    border-radius: 7px;
  }
#AHello, #GHello
  {
    visibility: hidden;
  }
#buttons:hover #AHello
  {
    visibility: visible;
  }
#buttons:hover #Hello
  {
    visibility: hidden;
  }
#buttons:hover #GHello
  {
    visibility: hidden;
  }
#buttons:active #GHello
  {
    visibility: visible;
  }
#buttons:active #Hello
  {
    visibility: hidden;
  }
#buttons:active #AHello
  {
    visibility: hidden;
  }